<window id="4">
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
	<include>Slide_In_WindowOpen</include>
	<include>Slide_Out_WindowClose</include>
    <controls>

		<!-- Config Scroller -->
        <include>Menu_Config</include>
		
		<control type="group">
            <posx>960</posx>
            <posy>0</posy>
			<control type="image">
				<posx>-68</posx>
				<posy>-68</posy>
				<width>136</width>
				<height>136</height>
				<texture>button_ex_idle.png</texture>
			</control>
			<control type="image">
				<posx>-68</posx>
				<posy>0</posy>
				<width>136</width>
				<height>68</height>
				<texture>dock_reveal_icon.png</texture>
			</control>
		</control>

        <include>Debug</include>

    </controls>
</window>